﻿@{
    ViewBag.Title = "Channel 9 Blogs";
}

@if (ViewBag.RSSFeed != null)
{
    foreach (var item in ViewBag.RSSFeed.RssItems)
    {
        <div class="row" style="color: gray; padding: 15px; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: lightgray;">
            <div class="row">
                <div class="col-xs-2" style="text-align: right;">@item.PubDate.ToString("dd/MM/yyyy")</div>
                <div class="col-xs-10" style="font-size: larger; font-weight: 400; color: black;">@item.Title</div>
            </div>
            <div class="row">
                <div class="col-xs-2" style="text-align: right;">@item.PubDate.ToString("HH:mm")</div>
                <div class="col-xs-10">@item.Category</div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2"><a href="@item.Link" target="_blank">@item.Link</a></div>
            </div>
        </div>

    }
}

